<script type="text/javascript">
    var itemsCount = '{{ form.items | length }}';

    jQuery(document).ready(function() {

        jQuery('#black_menu_menu_form_items').children('.formRow').each(function() {
            addItemFormDeleteLink($(this));
        });

        jQuery('#add-another-item').click(function() {
            var itemList = jQuery('#black_menu_menu_form_items');

            var newWidget = itemList.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, itemsCount);
            itemsCount++;

            var newDiv = jQuery('<div class="formRow noBorderB"></div>').html(newWidget);
            addItemFormDeleteLink(newDiv);
            newDiv.appendTo(jQuery('#black_menu_menu_form_items'));

            return false;
        });

        function addItemFormDeleteLink($tagFormDiv) {
            var $removeFormA = $('<a href="#" class="add buttonS bRed mt10">{% trans from "views" %}menu.admin.js.remove.text{% endtrans %}</a>');
            $tagFormDiv.first('.formRow .grid9').append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $tagFormDiv.remove();
            });
        }
    });
</script>