{% for item in document.items %}
    <li>
        <a href="{{ item.url }}" title="{% trans with {'%name%': item.name } from "views" %}menu.www.menu.a.title{% endtrans %}">
            {{ item.name }}
        </a>
    </li>
{% else %}
    <li>{% trans from "views" %}menu.www.menu.error.text{% endtrans %}</li>
{% endfor %}
